@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --xs: 16px;
  --sm: 24px;
  --md: 40px;
  --lg: 80px;
}

body {
  margin: 0;
  font-family: 'Proxima Nova', 'Roboto', 'Ubuntu', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #4a4a4a;
  background-color: #f6f6f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MARGIN HELPERS */

.m-top-xs {
  margin-top: var(--xs);
}

.m-bottom-xs {
  margin-bottom: var(--xs);
}

.m-left-xs {
  margin-left: var(--xs);
}

.m-right-xs {
  margin-right: var(--xs);
}

.m-top-sm {
  margin-top: var(--sm);
}

.m-bottom-sm {
  margin-bottom: var(--sm);
}

.m-left-sm {
  margin-left: var(--sm);
}

.m-right-sm {
  margin-right: var(--sm);
}

.m-top-md {
  margin-top: var(--md);
}

.m-bottom-md {
  margin-bottom: var(--md);
}

.m-left-md {
  margin-left: var(--md);
}

.m-right-md {
  margin-right: var(--md);
}

.m-top-lg {
  margin-top: var(--lg);
}

.m-bottom-lg {
  margin-bottom: var(--lg);
}

.m-left-lg {
  margin-left: var(--lg);
}

.m-right-lg {
  margin-right: var(--lg);
}

.grecaptcha-badge {
  display: none!important;
}